/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Reset CSS */

/* Custom Styles */
:root {
    --primary-color: rgba(0, 0, 0, 0.7);
    --secondary-color: rgba(0, 0, 0, 0.85);
    --tertiary-color: #F1EFDC;
    /* --text-color: #2c3e50; */
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    color: var(--background-color);
}

.navbar {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    padding: 1.875rem 0px;
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

.navbar > .home,
.navbar > .menu,
.navbar > .about {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navbar > .home:hover,
.navbar > .menu:hover,  
.navbar > .about:hover {
    border-bottom: 3px solid var(--tertiary-color);
    cursor: pointer;
}

#content {
    background-color: var(--primary-color);
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    padding-bottom: 1.875rem;
    margin-bottom: 3.125rem;
    align-self: center;
    color: var(--tertiary-color);
}

#content > .res-name,
#content > .menu,
#content > .about {
    margin: 1.875rem;
    font-size: 3rem;
    padding-bottom: 0px;
    border-bottom: 4px solid var(--tertiary-color);
}

#content > div,
#content > form {
    padding: 1.25rem 1.25rem;
    margin: 0px 3.125rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
}

#content > img {
    width: 60%;
    height: auto;
}

#content > form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#content > form > input {
    height: 1.875rem;
}

#content > form > div {
    display: flex;
    gap: 1.25rem;
}

#content > form > div > input {
    width: 12.5rem;
    height: 1.875rem;
}

#content > form input,
#content > form textarea,
#content > form > button {
    background-color: rgba(0, 0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
    padding-left: 10px;
    color: var(--tertiary-color);
}

#content > form input::placeholder,
#content > form textarea::placeholder {
    color: rgb(189, 189, 189);
}

textarea:focus,
input:focus {
    outline: none;
}

#content > form > textarea {
    padding-top: 10px;
}

#content > form > button {
    width: 12.5rem;
    align-self: center;
}

#content > form > button:hover {
    background-color: var(--tertiary-color);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

#content h2 {
    font-weight: bold;
}
